{{> /partials/header }}
<h1>Organisations</h1>

<a href="/" class="ui purple icon button">
	<i class="angle left icon"></i>
</a>
<a href="/orgas/new" class="ui labeled icon green button"><i class="plus icon"></i>Ajouter une organisation</a>

<table class="ui selectable celled table">
	<thead>
   		<tr>
    		<th>Nom</th>
    		<th>Domain</th>
    		<th>Aliases</th>
    		<th>Utilisateurs</th>
    		<th></th>
		</tr>
	</thead>
  	<tbody>
  		{{#orgas}}
    	<tr>
      		<td class="selectable"><a href="/orgas/details/{{id}}#details-message">{{name}}</a></td>
      		<td class="selectable"><a href="/orgas/details/{{id}}#details-message">{{domain}}</a></td>
      		<td class="selectable"><a href="/orgas/details/{{id}}#details-message">{{aliases}}</a></td>
      		<td class="selectable">
      			<a href="/orgas/details/{{id}}#details-message">
      			{{#users}}
					<li style="list-style-type: none;">{{firstname}} {{lastname}}</li>
      			{{/users}}
      			</a>
      		</td>
      		<td>
      			<a href="/orgas/display/{{id}}" class="circular ui icon button">
      				<i class="eye icon"></i>
      			</a>
      			
      			<a href="/orgas/edit/{{id}}" class="circular ui blue icon button">
      				<i class="ui edit icon"></i>
      			</a>
      			
      			<a href="/orgas/delete/{{id}}#delete-message" class="circular ui red icon button">
      				<i class="ui trash icon"></i>
      			</a>
   			</td>
    	</tr>
    	{{/orgas}}
  	</tbody>
  	<tfoot>
  		<tr>
  			<th colspan="5">
  				<div class="">
  					<form class="ui form" method="post" action="/orgas/search">
  						<div class="ui search">
							<div class="ui fluid icon input">
   								<input class="prompt" type="text" name="name" placeholder="Nom">
   								<i class="search icon"></i>
							</div>
							<div class="results"></div>
						</div>
  					</form>
				</div>
				
  			</th>
  		</tr>
  	</tfoot>
</table>

{{#details}}
<div class="ui message" id="details-message">
	<div class="header">Détails</div>
	<table class="ui celled table">
		<thead>
   			<tr>
    			<th>Groupes ({{groups.size}})</th>
    			<th>Utilisateurs ({{users.size}})</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					{{#groups}}<li style="list-style-type: none;">{{name}}</li>{{/groups}}
				</td>
				<td>
					{{#users}}<li style="list-style-type: none;">{{email}}</li>{{/users}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
{{/details}}

{{#msg}}
<div class="ui {{type}} icon message" id="delete-message">
  <i class="{{icon}} icon"></i>
  <div class="content">
    <div class="header">{{title}}</div>
    <p>{{content}}</p>
    <p>
    {{#links}}
    	<a class="ui button" href="{{href}}">{{libelle}}</a> 
    {{/links}}
    </p>
  </div>
</div>
{{/msg}}

{{> /partials/footer }}